# Data Pipeline Assessment

## Analysing Video Game Reviews and Sales across 2 Datasets

This project will analyse and consider video game reviews as well as sales performance across the world. I have chosen two data sets for this project, they are as follows:

Popular Video Games 1980 - 2023 ðŸŽ®: https://www.kaggle.com/datasets/arnabchaki/popular-video-games-1980-2023/

Video Game Sales 1978 - 2024: https://www.kaggle.com/datasets/jasonlreed/video-game-sales

With these two data sets, I will extract them, perform exploratory data analysis, transform the data, visualize it, and attempt some feature engineering, before saving it to a MySQL Database.

## Data Extraction

To begin this project, I will extract and load the data sources into their own dataframes to take an initial look at them before joining them.

In [7]:
# Fundemental modules import
import pandas as pd
import numpy as np

# Reading the CSV files to Data Frames
df_reviews = pd.read_csv("Data-Sources/games.csv")
df_sales = pd.read_csv("Data-Sources/VG_Sales_All.csv")

In [9]:
# Checking the previous reads worked
df_reviews.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [10]:
df_sales.head()

,Rank,Name,Platform,All_Platforms,All_Games,Publisher,Developer,Critic_Score,User_Score,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Global_Sales,Year,Genre
0,1,Tetris,Series,NaN,Tetris (1984)|Tetris (1989)|Welltris|Hatris|Tw...,The Tetris Company,Alexey Pajitnov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988.0,Puzzle
1,2,Pokemon,Series,NaN,Pokemon Red & Green (Japan-only) & Blue|Pokemo...,Nintendo,Game Freak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Role-Playing
2,3,Call of Duty,Series,NaN,Call of Duty|Call of Duty 2|Call of Duty 3|Cal...,Activision,Infinity Ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,Shooter
3,4,Grand Theft Auto,Series,NaN,Grand Theft Auto|Grand Theft Auto: London 1969...,Rockstar Games,Rockstar North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Action-Adventure
4,5,Super Mario,Series,NaN,Mario Bros.|Super Mario Bros.|Super Mario Bros...,Nintendo,Nintendo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983.0,Platform

Confirming that the imports were successful, I can now move on to analysing the data and seeing if I can clean it up a bit and transform any columns or rows.

## Initial Exploratory Data Analysis

In [13]:
# Checking info for the Reviews Dataset
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [14]:
# Checking info for the Sales Dataset
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63927 entries, 0 to 63926
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           63927 non-null  int64
 1   Name           63927 non-null  object
 2   Platform       63927 non-null  object
 3   All_Platforms  1101 non-null   object
 4   All_Games      441 non-null    object
 5   Publisher      63927 non-null  object
 6   Developer      63927 non-null  object
 7   Critic_Score   6601 non-null   float64
 8   User_Score     414 non-null    float64
 9   NA_Sales       13656 non-null  float64
 10  PAL_Sales      14019 non-null  float64
 11  JP_Sales       7673 non-null   float64
 12  Other_Sales    16364 non-null  float64
 13  Global_Sales   20301 non-null  float64
 14  Year           57062 non-null  float64
 15  Genre          63927 non-null  object
dtypes: float64(8), int64(1), object(7)
memory usage: 7.8+ MB

In [15]:
# Checking nulls for reviews dataset
df_reviews.isnull().sum().sort_values()

Unnamed: 0            0
Title                 0
Release Date          0
Times Listed          0
Number of Reviews     0
Genres                0
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
Team                  1
Summary               1
Rating               13
dtype: int64

There are a few null values within this dataset, I can check what they correspond to.

In [17]:
df_reviews[df_reviews.isna().any(axis=1)]

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
587,587,Final Fantasy XVI,"Jun 22, 2023","['Square Enix', 'Square Enix Creative Business...",NaN,422,422,['RPG'],Final Fantasy XVI is an upcoming action role-p...,[],37,10,732,2.4K
649,649,Death Stranding 2,releases on TBD,['Kojima Productions'],NaN,105,105,"['Adventure', 'Shooter']",NaN,[],3,0,209,644
713,713,Final Fantasy VII Rebirth,"Dec 31, 2023",['Square Enix'],NaN,192,192,[],This next standalone chapter in the FINAL FANT...,[],20,3,354,1.1K
719,719,Lies of P,"Aug 01, 2023","['NEOWIZ', 'Round8 Studio']",NaN,175,175,['RPG'],"Inspired by the familiar story of Pinocchio, L...",[],5,0,260,939
726,726,Judas,"Mar 31, 2025",['Ghost Story Games'],NaN,90,90,"['Adventure', 'Shooter']",A disintegrating starship. A desperate escape ...,[],1,0,92,437
746,746,Like a Dragon Gaiden: The Man Who Erased His Name,"Dec 31, 2023","['RyÅ« Ga Gotoku Studios', 'Sega']",NaN,118,118,"['Adventure', 'Brawler', 'RPG']",This game covers Kiryu's story between Yakuza ...,[],2,1,145,588
972,972,The Legend of Zelda: Tears of the Kingdom,"May 12, 2023","['Nintendo', 'Nintendo EPD Production Group No...",NaN,581,581,"['Adventure', 'RPG']",The Legend of Zelda: Tears of the Kingdom is t...,[],72,6,1.6K,5.4K
1130,1130,Star Wars Jedi: Survivor,"Apr 28, 2023","['Respawn Entertainment', 'Electronic Arts']",NaN,250,250,['Adventure'],The story of Cal Kestis continues in Star Wars...,[],13,2,367,1.4K
1160,1160,We Love Katamari Reroll + Royal Reverie,"Jun 02, 2023","['Bandai Namco Entertainment', 'MONKEYCRAFT Co...",NaN,51,51,"['Adventure', 'Puzzle']",We Love Katamari Reroll + Royal Reverie is a r...,[],3,0,74,291
1202,1202,Earthblade,"Dec 31, 2024",['Extremely OK Games'],NaN,83,83,"['Adventure', 'Indie', 'RPG']","You are NÃ©voa, an enigmatic child of Fate retu...",[],0,1,103,529
1245,1245,NEET Girl Date Night,"Oct 21, 2022",NaN,2.7,21,21,['Visual Novel'],Your friend sets you up on a date with his NEE...,"['this sucked. ""Omg she is literally me"" is no...",106,1,44,42
1305,1305,Diablo IV,"Jun 06, 2023",['Blizzard Entertainment'],NaN,148,148,"['Brawler', 'RPG']",Endless demons to slaughter. Deep customizatio...,[],19,10,179,677
1341,1341,Pac-Man in a Tin,"Mar 22, 2023",['Fizz Creations'],NaN,0,0,['Arcade'],Pac-Man in a Tin is a pocket-sized tin contain...,[],1,0,1,2
1349,1349,PokÃ©mon AÃ±il,"Mar 23, 2023",['Eric Lost'],NaN,2,2,['RPG'],PokÃ©mon AÃ±il is the fourth video game created ...,"['pokemon HWHAT', 'Finally, after all these ye...",1,0,1,7

As this dataset is dated to 2023, some of these games were not released when the dataset was put together, but have now, for example Lies of P and Final Fantasy XVI have released. As such, I will leave the Reviews section blank, but I will correct the missing Ratings. After that is done for the games where that is possible, I will drop the games which have not released yet, for example, Judas, or Death Stranding 2. Now to check the other data set.

In [19]:
# Checking nulls for sales dataset
df_sales.isnull().sum().sort_values()

Rank                 0
Name                 0
Platform             0
Publisher            0
Developer            0
Genre                0
Year              6865
Global_Sales     43626
Other_Sales      47563
PAL_Sales        49908
NA_Sales         50271
JP_Sales         56254
Critic_Score     57326
All_Platforms    62826
All_Games        63486
User_Score       63513
dtype: int64

In [20]:
df_sales[df_sales.isna().any(axis=1)]

,Rank,Name,Platform,All_Platforms,All_Games,Publisher,Developer,Critic_Score,User_Score,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Global_Sales,Year,Genre
0,1,Tetris,Series,NaN,Tetris (1984)|Tetris (1989)|Welltris|Hatris|Tw...,The Tetris Company,Alexey Pajitnov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988.0,Puzzle
1,2,Pokemon,Series,NaN,Pokemon Red & Green (Japan-only) & Blue|Pokemo...,Nintendo,Game Freak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Role-Playing
2,3,Call of Duty,Series,NaN,Call of Duty|Call of Duty 2|Call of Duty 3|Cal...,Activision,Infinity Ward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.0,Shooter
3,4,Grand Theft Auto,Series,NaN,Grand Theft Auto|Grand Theft Auto: London 1969...,Rockstar Games,Rockstar North,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998.0,Action-Adventure
4,5,Super Mario,Series,NaN,Mario Bros.|Super Mario Bros.|Super Mario Bros...,Nintendo,Nintendo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983.0,Platform
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63922,63923,Zombieland: Double Tap - Road Trip,PC,NaN,NaN,GameMill Entertainment,High Voltage Software,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,Shooter
63923,63924,Zombillie,NS,NaN,NaN,Forever Entertainment S.A.,Forever Entertainment S.A.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Puzzle
63924,63925,Zone of the Enders: The 2nd Runner MARS,PC,NaN,NaN,Konami,Cygames,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Simulation
63925,63926,Zoo Tycoon: Ultimate Animal Collection,XOne,NaN,NaN,Microsoft Studios,Frontier Developments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,Simulation
63926,63927,Zoo Tycoon: Ultimate Animal Collection,PC,NaN,NaN,THQ Nordic,Frontier Developments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.0,Simulation

## Cleaning and Transforming Data

## Connecting the Data Sets

## Drawing Thoughts from Analysis

## Data Visualization

## Saving to MySQL Database

## Conclusions